 table{
    border: yellow;
    display: inline-block;
    padding: 20px 24px;
    border-radius: 10ch;
    border: 12ch;
    
    
  }
  table{
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.301);
    border: solid;
  }

   th, td {
    width: 200px;
    background: white;
    background-size: 20px;
    font-family: 'Tahoma', 'Verdana', 'Comic Sans MS', 'Fredericka the Great', cursive;
    font-weight: bolder;
    font-size: 20px;
    margin: 30px 30px;
    border-radius: 50px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.644);
  }



  